@model IEnumerable<BestTickets.Models.RouteRequest>

@foreach(var entity in Model)
{
    <div>
        <a href="@Url.Action("_GetTickets")"><span>entity.Route.DeparturePlace</span> - <span>entity.Route.ArrivalPlace</span></a>
    </div>
}