@model IEnumerable<BestTickets.Models.RouteRequest>

<br />
<h4 class="headerText text-center">Наиболее частые маршруты</h4>
<br />
@foreach(var entity in Model)
{
    <span class="mostFrequentRoute">
        <a href="@Url.Action("Index", entity.Route)"><span>@entity.Route.DeparturePlace</span> - <span>@entity.Route.ArrivalPlace</span></a>
    </span>
}

@Styles.Render("~/Content/FrequentRequestsCss")