@model BestTickets.Models.RouteViewModel

@{
    ViewBag.Title = "Best Tickets";
}

<div class="jumbotron jumbocolor text-center row">
    <div class="col-xs-12">
        <h1>Best tickets</h1>
        <h3>Выбор лучших билетов</h3>
    </div>
</div>

<div class="row text-center">
    <h4 class="text-center ">Выберите маршрут</h4>
    <br />
</div>

<div id="validationErrors" class="row">

</div>

<div class="row">
        <div class="form-inline text-center col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8" id="routeForm">
            <div class="form-group">
                <input type="text" id="DepPlace" class="form-control customForm departurePlace routeInput" placeholder="Отправление"/>
            </div>
            <div class="form-group">
                <input type="text" id="ArrPlace" class="form-control customForm arrivalPlace routeInput" placeholder="Прибытие"/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control customForm" id="TickDate" name="Date"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default form-control customForm" id="getTicketsBtn">Поиск</button>
            </div>
        </div>
</div>



<div id="topRoutes" class="top10Routes row text-center">
    <br />
    <h4 class="text-center">Наиболее частые маршруты</h4>
</div>

<div id="loader" class="loadingProgress"></div>
<div id="tickets" class="row" >
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/indexScripts")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/bootstrap")
}

