.mostFrequentRoute{
    display:inline-block;
    margin:0.5em;
    padding:0.5em;
}

.mostFrequentRoute:hover{
    background-color:rgba(85,120,115,0.1);

}

.mostFrequentRoute a{
    color:rgb(85,120,115);
    font-weight:600;
    text-decoration:none;
}

