
.schedule{
    display:flex;
    flex-wrap:wrap;
}

.ticketCard{
    background:rgb(240,260,250);
    border:1px solid black;
    border-right:2px solid rgb(34,34,34);
    border-bottom:3px solid rgb(34,34,34);
    margin-bottom:0.2em;
}


.ticketCard-sm{
    margin-left:0.2em;
    display:inline-block;
    padding:1em;
    flex-basis:16.15em;
    flex-grow: 1;
    max-height:40em;
}

