
body {
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:rgb(230,230,200);
}

html{
    height:100%;
}

.page{
    position:relative;
    min-height:100%;
}

footer{
  background-color:rgb(34,34,34);
  color:rgb(200,200,180);
  position: absolute;
  left: 0;
  bottom: -1.4em;
  width: 100%;
  padding:0.7em 2em 0.2em 0;
  text-align:right;
}

.mostFrequentRoute{
    display:inline-block;
    margin:0.5em;
    padding:0.5em;
}

.schedule{
    display:flex;
    flex-wrap:wrap;
}

.ticketCard{
    background:rgb(240,260,250);
    border:1px solid black;
    border-right:2px solid rgb(34,34,34);
    border-bottom:3px solid rgb(34,34,34);
    margin-bottom:0.2em;
}


.ticketCard-sm{
    margin-left:0.2em;
    display:inline-block;
    padding:1em;
    flex-basis:16.15em;
    flex-grow: 1;
    max-height:40em;
}

.mostFrequentRoute:hover{
    background-color:rgba(85,120,115,0.1);
}

.mostFrequentRoute button{
    background:inherit;
    border:inherit;
    color:rgb(85,120,115);
    font-weight:600;
    text-decoration:none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 32px;
}

.top10Routes{
    margin-top:2em;
}

.jumbocolor{
    background-color:rgb(85,120,115);
}

.dl-horizontal dt {
    white-space: normal;
}

.form-control{
    background-color:rgb(230,220,180);
}

.form-control:focus{
     background-color:rgb(230,220,200);
     border:1.3px solid rgb(150,220,160);
}

/*.marginSub{
    margin-top:-2.2em;
}

.headerText{
    display:inline-block;
    padding:0.5em;
    background:rgb(240,260,250);
    border:1px solid black;
    border-right:2px solid rgb(34,34,34);
    border-bottom:3px solid rgb(34,34,34);
}*/

.ticketNotFoundColor{
    color:rgb(200,100,100);
}

.loadingProgress {
  display: none;
  position: fixed;
  z-index:100;
  border: 16px dotted rgb(230,230,200);
  border-radius: 50%;
  border-top: 16px solid rgb(250,120,120);
  width: 60px;
  height: 60px;
  top: 50%;
  left:50%;
  margin-top: -50px;
  margin-left: -40px;
  animation: spin 2s linear infinite;
}

.pageFade{
    display:none;
    position:fixed;
    z-index:50;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(34,34,34,0.8);
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


